// Footer
footer.border-top
    .container.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
            .col-md-10.col-lg-8.col-xl-7
                ul.list-inline.text-center
                    li.list-inline-item
                        a(href='https://github.com/aibazhang/multitrue',  target="_blank")
                            svg(width="40", height="40")
                                include github.svg
                .small.text-center.text-muted.fst-italic Copyright &copy; J.C. Zhang 2022