// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

// Core theme JS
script(src='js/script.js', type="module")

// Wordcloud
script(src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js')
script(src='js/echarts-wordcloud.js')

script.
  const wordsFrequency = !{JSON.stringify(wordsFrequency)};
script(src='js/wordcloud.js')