doctype html
html(lang='en')

    head
        include includes/head.pug

    body

        include includes/navbar.pug

        block content
          h1 Placeholder heading
        
        include includes/footer.pug

        include includes/scripts.pug
